body {
  height: 200vh;
  width: 100%;
  background: linear-gradient(180deg, #9DBDAD 0%, #022D33 100%);
}
h1 {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  vertical-align: middle;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20%;
  color: #00171B;
}
h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #00171B;
}
h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  padding-top: 15%;
  color: #E8DADE;
}
.container {
  display: grid;
  padding-top: 7%;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows:auto;
  grid-gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #E8DADE;

}
.countup {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
}
.subtitle {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}
