html {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 200vh;
  margin: 0;
}
.background-img {
  background: url('mine_sides.png') no-repeat left top,  linear-gradient(180deg, #CAC3C1 0%, #68554A 50%, #221A15 75%);;
  /* Set rules to fill background */
  height: 200vh;

  /* Set up proportionate scaling */
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section {
  margin: 0;
  height: 100vh;
  width: 100%;
}
.topnav {
  text-align: center;
  overflow: hidden;
  font-family: 'Raleway';
  padding: 8px 8px;
   position: fixed;
   width: 100%;
}
#topnav-opening {
  background-color: #221A15;
}
#topnav-abstract {
  background-color: #022D33;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #E5E5E5;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 10px;
  display: inline-block;
  position: relative;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

}

/* Change the color of links on hover */
.topnav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #E5E5E5;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.topnav a:hover:after {
  width: 100%;
  left: 0;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #04AA6D; */
  color: #CAC3C1;
}

#title {
  top: 0vh;
  bottom: 100vh;
}
h1 {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  vertical-align: middle;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 15%;
  padding-bottom: 2.5%;
  margin: 0;
  color: #E5E5E5;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2 {
  font-family: 'Raleway';
  font-style: normal;
  margin: 0;
  font-weight: lighter;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #E5E5E5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#counter-widget {
  top: 100vh;
  bottom: 200vh;
  color: #E5E5E5;
  text-align: center;
}
h3 {
  font-family: 'Raleway';
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 75px;
  text-align: center;
  padding-top: 7%;
  color: #E5E5E5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  display: grid;
  padding-top: 7%;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows:auto;
  grid-gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;

}
.countup {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;

  font-size: 3em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 75px;

}
.subtitle {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}
.dive-in {
  border: 3px solid #E5E5E5;
  border-radius: 50%;
  font-family: 'Raleway';
  color: #E5E5E5;
  font-weight: bolder;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 100px;
  margin-top: 5%;
  margin-left: 45%;
  margin-right: 45%;
  background-color: inherit;
  cursor: pointer;
  font-size: 1em;
}
.i-argue {
  border: 2.5px solid #E5E5E5;
  border-radius: 50%;
  font-family: 'Raleway';
  color: #E5E5E5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 125px;
  height: 125px;
  margin-top: 7%;
  background-color: inherit;
  cursor: pointer;
  font-size: 1em;
}

#abstract {
  background-color: #E5E5E5;
}
.abstract-text {
  text-align: center;
  font-family: 'Libre Baskerville';
  font-size: 1.5em;
  line-height: 1.15em;
  justify-content: center;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  color: #022D33;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

}
#abstract mark {
  background-color: #E5E5E5;
  color: #89043d;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 1s ease-out;

}

.container2 {
  display: grid;
  padding-top: 5%;
  grid-template-columns: 140px 140px 140px;
  grid-template-rows:auto;
  grid-gap: 100px;
  justify-content: center;
}
img {
  width: 140px;
  display: flex;
  align: middle;
  cursor: pointer;
}
